.login-form{
  flex-direction: column;
  width: fit-content;
}

.login-main {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #323437 inset !important;
  color: #d1d0c5 !important;
  -webkit-text-fill-color: #d1d0c5 !important;
}

.login-container {
  padding: 40px;
  flex-direction: column;
  border-radius: 20px;
  border: #646669 2px solid;
  width: fit-content;
}

.login-header {
  width: 300px;
  span {
    font-size: 14px;
  }
  a {
    font-size: 14px;
    color: #d1d0c5;
  }
  p {
    font-weight: bold;
    font-size: 24px;
  }
}
