.login-form{
  flex-direction: column;
  width: fit-content;
}

.login-main {
  height: 100%;
}

.login-container {
  padding: 40px;
  flex-direction: column;
  border-radius: 20px;
  border: #646669 2px solid;
  width: fit-content;
}

.login-header {
  width: 300px;
  span {
    font-size: 14px;
  }
  a {
    font-size: 14px;
    color: #d1d0c5;
  }
  p {
    font-weight: bold;
    font-size: 24px;
  }
}
