<div class="center flex login-main">
  <div class="login-container">
    <div class="login-header">
      <p>Prijava</p>
      <div>
        <span>Nemate račun? </span>
        <a routerLink="/register">Registrirajte se</a>
      </div>
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="flex center login-form"
      #form="ngForm"
    >
      <div class="form-field">
        <input
          formControlName="email"
          type="email"
          required
          id="email"
          placeholder=""
        />
        <label for="email">Email*</label>
      </div>
      <div class="form-field">
        <input
          formControlName="password"
          type="password"
          required
          id="password"
          placeholder=""
        />
        <label for="password">Lozinka*</label>
      </div>
      @if (
        (form.submitted &&
          (!loginForm.controls.password.valid ||
            !loginForm.controls.email.valid)) ||
        userDoesntExist
      ) {
        <span class="form-error">Email ili lozinka nisu ispravni!</span>
      }
      <button type="submit" class="button">Prijavi se</button>
    </form>
  </div>
</div>
