<div class="add-sport">
      <textarea
        #sportArea
        class="add-sport-input"
        placeholder="Dodaj sport"
        (keydown.enter)="addSport(); $event.preventDefault()"
      ></textarea>
  <mat-icon (click)="addSport()">add</mat-icon>
</div>
<div class="add-sport-error">
  @if(addSportError) {
    <span class="form-error">Sport već postoji!</span>
  }
</div>
<div class="mat-elevation-z8 sports-table">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="sportName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sport </th>
      <td mat-cell *matCellDef="let element"> {{element.sportName}} </td>
    </ng-container>

    <ng-container matColumnDef="fields">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj terena </th>
      <td mat-cell *matCellDef="let element"> {{element.fields}} </td>
    </ng-container>

    <ng-container matColumnDef="reservations">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj rezervacija </th>
      <td mat-cell *matCellDef="let element"> {{element.reservations}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button [disabled]="disabledButtons.get(element.sportName)" class="button" (click)="deleteSport(element)">Ukloni</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    class="paginator" [pageSize]="10"
    [pageSizeOptions]="[]"
    showFirstLastButtons
    aria-label="Select page of users">
  </mat-paginator>
</div>

