.add-field-container {
  padding: 40px;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
}

.border {
  border: #646669 2px solid;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.add-field-main {
  height: 100%;
  margin-bottom: 20px;
}

.form-field {
  margin-left: 30px;
  height: fit-content;
  width: 270px;
}

.euro-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  color: #d1d0c5;

}

.text-input {
  display: grid;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: 33% 33% 34%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-error {
  margin-left: 30px;
  width: 270px;
}

.info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.hide-file-input {
  display: none;
}

.img-container {
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.img-container:hover .img {
  cursor: pointer;
  filter: opacity(0.5);
}

.img-container:hover .delete {
  cursor: pointer;
  filter: opacity(1);
}

.delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  filter: opacity(0);
}

.img {
  width: 100%;
  object-fit: cover;
}

.image-button {
  width: 200px;
  text-align: center;
  font-size: 14px;
}

.image-input {
  display: flex;
  text-align: left;
}

.button {
  margin: 20px;
}

.selected {
  top: -20px;
  left: 0;
  font-size: 14px;
  color: #e2b714;
}

mat-select {
  color: #d1d0c5;
  --mat-select-enabled-arrow-color: #d1d0c5;
  font-size: 12px;
}

::ng-deep div.mat-mdc-select-panel {
  --mat-select-panel-background-color: #323437;
  --mat-option-selected-state-label-text-color: #e2b714;
  color: #d1d0c5;
}

::ng-deep mat-pseudo-checkbox {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: transparent;
}

::ng-deep .mdc-list-item__primary-text {
  color: #d1d0c5;
  font-size: 12px;
}

.description {
  width: 100%;
}

.description-field {
  border: none;
  width: 100%;
  height: 100%;
  margin: 0 0 0 10px;
}

.description-input {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #927979;
  background: transparent;
  margin: 20px;
  resize: none;
  height: 100%;
  width: 90%;
  color: #d1d0c5;

  &:focus {
    outline: none;
  }
}

.days-input {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
}

.work-hours {
  margin-top: 30px;
  font-size: 20px;
}

.work-hours-hint {
  margin-top: 10px;
  font-size: 16px;
  color: #e2b714;
}

.day-input {
  width: 80%;
  margin-top: 15px;
  margin-left: 10px;
}

.time-error {
  margin-left: 10px;
  font-size: 12px;
}

mat-checkbox {
  --mdc-checkbox-selected-checkmark-color: #000;
  --mdc-checkbox-selected-focus-icon-color: #e2b714;
  --mdc-checkbox-selected-hover-icon-color: #e2b714;
  --mdc-checkbox-selected-icon-color: #e2b714;
  --mdc-checkbox-selected-pressed-icon-color: #e2b714;
  --mdc-checkbox-unselected-focus-icon-color: #d1d0c5;
  --mdc-checkbox-unselected-hover-icon-color: #d1d0c5;
  --mdc-checkbox-unselected-icon-color: #d1d0c5;
  --mdc-checkbox-unselected-pressed-icon-color: #d1d0c5;
  --mdc-checkbox-selected-focus-state-layer-color: #e2b714;
  --mdc-checkbox-selected-hover-state-layer-color: #e2b714;
  --mdc-checkbox-selected-pressed-state-layer-color: #e2b714;
  --mdc-checkbox-unselected-focus-state-layer-color: #d1d0c5;
  --mdc-checkbox-unselected-hover-state-layer-color: #d1d0c5;
  --mdc-checkbox-unselected-pressed-state-layer-color: #d1d0c5;
}

::ng-deep .mdc-label {
  font-size: 14px;
  color: #d1d0c5;
}

.delete-button {
  background-color: #ff3f3f;
  color: #d1d0c5;
}

.delete-button:hover {
  background-color: #b8bec5;
  color: #646669;
}

.delete-button:disabled {
  background-color: #2f2f2f;
  color: #4d4d4d;
  cursor: default;
}
