/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #323437;
  color: #d1d0c5;
  background-image:
    radial-gradient(circle at center, rgba(255, 255, 255, 0.005) 0, rgba(255, 255, 255, 0.005) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 10px 10px;
  background-attachment: fixed;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.height100 {
  height: 100%;
}

.width100 {
  width: 100%;
}
