.homepage-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.homepage-main {
  flex: 1;
}

.homepage-left-sidebar {
  overflow: auto;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar-item {
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar-text {
  font-size: 20px;
  color: #d1d0c5;
  cursor: pointer;
}

.side-bar-text:hover, .active{
  color: #e3bd2a;
}

.homepage-right-sidebar {
  overflow-y: auto;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #646669 2px solid;
  font-size: 18px;
}

.appointment {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container-main {
  border: #646669 1px solid;
  border-bottom: #646669 2px solid;
  padding: 1px;
}

.gm-style img {
  max-width: none !important;
  border: none !important;
  box-shadow: none !important;
}

.sport-center-details {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-icon {
  color: #e2b714;
  position: absolute;
  top: 42%;
  right: 10%;
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
}

.search-field-input {
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #927979;
  background: transparent;
  resize: none;
  overflow: hidden;
  padding: 5px 40px 5px 5px;
  position: relative;
  z-index: 1;
  height: 25px;
  color: #d1d0c5;
  width: 70%;

  &:focus {
    outline: none;
  }
}

.search {
  position: relative;
  height: 19%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-header {
  color: #d1d0c5;
}

.slider-header-top {
  color: #d1d0c5;
  margin-top: 8px;
}

.slider-header-bottom {
  color: #d1d0c5;
}

mat-slider {
  width: 85%;
  --mdc-slider-handle-color: #e2b714;
  --mdc-slider-focus-handle-color: #e2b714;
  --mdc-slider-hover-handle-color: #e2b714;
  --mdc-slider-active-track-color: #e2b714;
  --mdc-slider-inactive-track-color: #e2b714;
  --mdc-slider-with-tick-marks-inactive-container-color: #e2b714;
  --mat-slider-ripple-color: #e2b714;
  --mdc-slider-with-tick-marks-active-container-color: white;
  --mat-slider-hover-state-layer-color: rgba(226, 183, 20, 0.05);
  --mat-slider-focus-state-layer-color: rgba(226, 183, 20, 0.2);
}

.filters-button {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-calendar-body-selected {
  background-color: rgba(226, 183, 20, 0.8) !important;
}

::ng-deep .mat-calendar-body-today {
  background-color: rgba(226, 183, 20, 0.6) !important;
}

::ng-deep .mat-calendar-body-cell:hover {
  --mat-datepicker-calendar-date-hover-state-background-color: rgba(226, 183, 20, 0.6) !important;

}
::ng-deep .ng-star-inserted {
  --mat-datepicker-calendar-container-background-color: #323437;
  --mat-datepicker-calendar-period-button-text-color: #e2b714;
  --mat-datepicker-calendar-period-button-icon-color: #e2b714;
  --mat-datepicker-calendar-navigation-button-icon-color: #e2b714;
  --mat-datepicker-calendar-header-divider-color: #e2b714;
  --mat-datepicker-calendar-header-text-color: #e2b714;
  --mat-datepicker-calendar-date-today-outline-color: #e2b714;
  --mat-datepicker-calendar-date-today-disabled-state-outline-color: #e2b714;
  --mat-datepicker-calendar-date-text-color: #e2b714;
  --mat-datepicker-calendar-body-label-text-color: #e2b714;
  --mat-datepicker-calendar-date-focus-state-background-color: #323437;
}

input.my-custom-input {
  background-color: #e2b714;
  color: #333;
}

.form-field {
  flex-direction: row;
  width: 20%;
  margin: 0;
  height: 18%;
  border: none;
}

.date-input {
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
}

.time-filter {
  justify-content: normal;
  width: 40%;
}

.button {
  margin-bottom: 12px;
  width: 130px;
}

.sport-centers-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar-sport-center {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #434447;
  margin-bottom: 20px;
  cursor: default;
}

.side-bar-info {
  display: flex;
  flex-direction: column;
}

.align-left {
  width: 70%;
  padding-left: 10px;
}

.align-right {
  width: 30%;
  align-items: flex-end;
  padding-right: 20px;
}

.sport-center-name {
  font-size: 18px;
}

.sport-center-address {
  font-size: 16px;
}

.sport-center-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.sport-center-details-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 40px;
    color: #d1d0c5;
    padding: 10px;
  }

  .font-20 {
    font-size: 20px;
    padding-top: 0;
  }
}

.carousel {
  width: 95%;
}

.carousel-and-fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sport-center-info {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notactive:hover {
  background-color: #b8bec5;
  color: #646669;
  transition: 0.3s all;
  cursor: pointer;
}

.reserve-field {
  color: #646669;
  background: #b8bec5;
  margin-top: 10px;
}
