<div class="homepage-container">
  <div class="homepage-left-sidebar">
    @for (sport of sports; track sport.name) {
      <div class="side-bar-item">
        <span
          class="side-bar-text"
          [ngClass]="{ active: activeSport === sport.name }"
          (click)="getSport(sport)"
          >{{ sport.name }}</span
        >
      </div>
    }
  </div>
  <div class="homepage-main">
    <form class="filters" [formGroup]="filterForm" (ngSubmit)="applyFilters()">
      <div class="slider-container">
        <span class="slider-header"
          >Max udaljenost:
          {{ filterForm.controls.distanceChange.getRawValue() }} km</span
        >
        <mat-slider min="1" max="50" step="1" value="10">
          <input matSliderThumb formControlName="distanceChange" />
        </mat-slider>
      </div>
      <div class="form-field">
        <input
          [matDatepicker]="picker"
          [min]="minDate"
          formControlName="date"
          required
          class="date-input"
          placeholder="Odaberite datum"
          readonly="readonly"
          (click)="picker.open()"
        />
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="slider-container time-filter">
        <span class="slider-header-top">Vrijeme termina:</span>
        <span class="slider-header-bottom"
          >{{
            convertMinutesToTime(
              filterForm.controls.timeChangeLow.getRawValue()
            )
          }}
          -
          {{
            convertMinutesToTime(
              filterForm.controls.timeChangeHigh.getRawValue()
            )
          }}</span
        >
        <mat-slider min="300" max="1439" step="5">
          <input matSliderStartThumb formControlName="timeChangeLow" />
          <input matSliderEndThumb formControlName="timeChangeHigh" />
        </mat-slider>
      </div>
      <div class="filters-button">
        <button type="submit" class="button">Pretraži</button>
      </div>
    </form>
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
    <div class="field-details">
      <span>Detalji</span>
    </div>
  </div>
  <div class="homepage-right-sidebar">
    <div class="search">
      <textarea
        #searchArea
        class="search-field-input"
        placeholder="Pretraži terene"
        (keydown.enter)="doSearch(); $event.preventDefault()"
      ></textarea>
      <mat-icon>search</mat-icon>
    </div>
  </div>
</div>
