<div class="center flex sport-center-main">
  <div class="sport-center-container center flex">
    <div>
      <h1>Uredite sportski centar</h1>
      <p>
        Promjenom naziva, adrese ili fotografija sportski centar će se ponovno
        morati potvrditi od strane admina!
      </p>
    </div>
    <form
      [formGroup]="addForm"
      (ngSubmit)="editSportCenter()"
      class="flex center info-form"
      #form="ngForm"
    >
      <div class="text-input">
        <div class="form-container">
          <div class="form-field">
            <input
              formControlName="sportCenterName"
              type="text"
              required
              id="sportCenterName"
              placeholder=""
            />
            <label for="sportCenterName">Naziv</label>
          </div>
          @if (
            (addForm.controls.sportCenterName.dirty || form.submitted) &&
            !addForm.controls.sportCenterName.valid
          ) {
            <span class="form-error">Morate unijeti naziv!</span>
          }
        </div>
        <div class="form-container">
          <div class="form-field">
            <input
              formControlName="streetAndNumber"
              type="text"
              required
              id="streetAndNumber"
              placeholder=""
            />
            <label for="streetAndNumber">Ulica i kućni broj</label>
          </div>
          @if (
            (addForm.controls.streetAndNumber.dirty || form.submitted) &&
            !addForm.controls.streetAndNumber.valid
          ) {
            <span class="form-error">Morate unijeti ulicu i kućni broj!</span>
          }
        </div>
        <div class="form-container">
          <div class="form-field">
            <input
              formControlName="zipCode"
              type="text"
              required
              id="zipCode"
              placeholder=""
            />
            <label for="zipCode">Poštanski broj</label>
          </div>
          @if (
            (addForm.controls.zipCode.dirty || form.submitted) &&
            !addForm.controls.zipCode.valid
          ) {
            <span class="form-error">Morate unijeti poštanski broj!</span>
          }
        </div>
        <div class="form-container">
          <div class="form-field">
            <input
              formControlName="cityName"
              type="text"
              required
              id="cityName"
              placeholder=""
            />
            <label for="cityName">Grad</label>
          </div>
          @if (
            (addForm.controls.cityName.dirty || form.submitted) &&
            !addForm.controls.cityName.valid
          ) {
            <span class="form-error">Morate unijeti grad!</span>
          }
          @if (form.submitted && wrongAddress) {
            <span class="form-error">Adresa je neispravna!</span>
          }
        </div>
      </div>

      <div class="form-container image-input">
        <label class="button image-button">
          Odaberite fotografije
          <input
            class="hide-file-input"
            type="file"
            (change)="handleFileInput($event)"
            required
          />
        </label>
      </div>
      @if (url.length > 0) {
        <div class="image-container">
          @for (u of url; track $index) {
            <div
              [id]="$index"
              class="img-container"
              (click)="onDeleteImg($index)"
            >
              <img class="img" [src]="u" alt="" />
              <mat-icon class="delete">close</mat-icon>
            </div>
          }
        </div>
      }
      @if (form.submitted && url.length === 0) {
        <span class="form-error">Morate dodati bar jednu sliku!</span>
      }
      <div class="flex">
        <button type="button" class="button" (click)="CloseForm()">
          Odustani
        </button>
        <button type="submit" class="button">Spremi</button>
        <button
          type="button"
          class="button delete-button"
          (click)="deleteSportCenter()"
        >
          Obriši
        </button>
      </div>
    </form>
    <div class="fields">
      <div class="fields-header">
        <h2>Tereni</h2>
        <button class="button" [disabled]="addFieldForm" (click)="addField()">
          Dodaj teren
        </button>
      </div>
      @if (addFieldForm) {
        <app-add-field
          (closeFormEvent)="closeAddFieldForm($event)"
          [sportCenterId]="sportCenterId"
        ></app-add-field>
      }
      @for (field of fields; track field) {
        <div class="field">
          <div class="field-metadata">
            <h3>{{ field.fieldName }}</h3>
            <button
              class="button"
              [disabled]="editingField === field.fieldId"
              (click)="editField(field.fieldId)"
            >
              Uredi
            </button>
          </div>
          @if (editingField === field.fieldId) {
            <app-add-field
              (closeFormEvent)="closeAddFieldForm($event)"
              [sportCenterId]="sportCenterId"
              [fieldId]="field.fieldId"
            ></app-add-field>
          }
        </div>
      }
    </div>
  </div>
</div>
